<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>404460056805-nh5g9abdkuj8idl1m2pef57i8ii19424.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.404460056805-nh5g9abdkuj8idl1m2pef57i8ii19424</string>
	<key>API_KEY</key>
	<string>AIzaSyAiiZe1DTyMXfKNXq_9I0YsfQJpUJt0rnQ</string>
	<key>GCM_SENDER_ID</key>
	<string>404460056805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dingding.CoinNow</string>
	<key>PROJECT_ID</key>
	<string>coinnow-a0aeb</string>
	<key>STORAGE_BUCKET</key>
	<string>coinnow-a0aeb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:404460056805:ios:c6fc8f141007b01e</string>
	<key>DATABASE_URL</key>
	<string>https://coinnow-a0aeb.firebaseio.com</string>
</dict>
</plist>